:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 48px !important;
}

h1 {
  font-size: 96px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}

p {
  font-size: 18px !important;
}

.navigation {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  text-transform: capitalize;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  margin: 20px;
  text-decoration: none;
  padding: 20px 15px;
}
.primary-link:hover {
  color: blue;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin: 20px;
  text-decoration: none;
  padding: 20px 15px;
}

.homepage-link {
  display: block;
  color: var(--primary-color);
  text-align: center;
}

.about-paragraphs {
  margin: 30px 0;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 55px !important;
  }
  h2 {
    font-size: 40px !important;
  }
  h3 {
    font-size: 30px !important;
  }
  .btn-primary {
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
  }
}

@media (min-width: 576px) {
  .btn-primary {
    background: var(--primary-color) !important;
    box-shadow: var(--box-shadow) !important;
    color: white !important;
    border-radius: 4px !important;
    margin: 20px !important;
    text-decoration: none !important;
    padding: 20px 15px !important;
    border-color: #6c63ff !important;
  }
  .about-paragraphs {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .about-paragraphs {
    max-width: 60%;
    margin-bottom: 50px;
  }
}
